# Ignore CSV data files
*.csv

# Ignore log files
*.log

# Python caches and local conda environments
__pycache__/
.conda/
Hand_Tracker/.conda/
Hand_Tracker/.tmp/
Hand_Tracker/build/
Hand_Tracker/dist/
control_ui/tools/ffmpeg/LICENSE
control_ui/tools/ffmpeg/README.txt
control_ui/tools/ffmpeg/bin/ffmpeg.exe
control_ui/tools/ffmpeg/bin/ffplay.exe
control_ui/tools/ffmpeg/bin/ffprobe.exe
control_ui/tools/ffmpeg/doc/bootstrap.min.css
control_ui/tools/ffmpeg/doc/community.html
control_ui/tools/ffmpeg/doc/default.css
control_ui/tools/ffmpeg/doc/developer.html
control_ui/tools/ffmpeg/doc/drawvg-reference.html
control_ui/tools/ffmpeg/doc/faq.html
control_ui/tools/ffmpeg/doc/fate.html
control_ui/tools/ffmpeg/doc/ffmpeg-all.html
control_ui/tools/ffmpeg/doc/ffmpeg-bitstream-filters.html
control_ui/tools/ffmpeg/doc/ffmpeg-codecs.html
control_ui/tools/ffmpeg/doc/ffmpeg-devices.html
control_ui/tools/ffmpeg/doc/ffmpeg-filters.html
control_ui/tools/ffmpeg/doc/ffmpeg-formats.html
control_ui/tools/ffmpeg/doc/ffmpeg-protocols.html
control_ui/tools/ffmpeg/doc/ffmpeg-resampler.html
control_ui/tools/ffmpeg/doc/ffmpeg-scaler.html
control_ui/tools/ffmpeg/doc/ffmpeg-utils.html
control_ui/tools/ffmpeg/doc/ffmpeg.html
control_ui/tools/ffmpeg/doc/ffplay-all.html
control_ui/tools/ffmpeg/doc/ffplay.html
control_ui/tools/ffmpeg/doc/ffprobe-all.html
control_ui/tools/ffmpeg/doc/ffprobe.html
control_ui/tools/ffmpeg/doc/general.html
control_ui/tools/ffmpeg/doc/git-howto.html
control_ui/tools/ffmpeg/doc/libavcodec.html
control_ui/tools/ffmpeg/doc/libavdevice.html
control_ui/tools/ffmpeg/doc/libavfilter.html
control_ui/tools/ffmpeg/doc/libavformat.html
control_ui/tools/ffmpeg/doc/libavutil.html
control_ui/tools/ffmpeg/doc/libswresample.html
control_ui/tools/ffmpeg/doc/libswscale.html
control_ui/tools/ffmpeg/doc/mailing-list-faq.html
control_ui/tools/ffmpeg/doc/nut.html
control_ui/tools/ffmpeg/doc/platform.html
control_ui/tools/ffmpeg/doc/style.min.css
control_ui/tools/ffmpeg/presets/libvpx-360p.ffpreset
control_ui/tools/ffmpeg/presets/libvpx-720p.ffpreset
control_ui/tools/ffmpeg/presets/libvpx-720p50_60.ffpreset
control_ui/tools/ffmpeg/presets/libvpx-1080p.ffpreset
control_ui/tools/ffmpeg/presets/libvpx-1080p50_60.ffpreset
